@using System.Web.Mvc.Html
@model MrCMS.Web.Apps.Glossaries.Entities.GlossaryItem
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("Add", "GlossaryItems", new { id = "" }, FormMethod.Post))
{
    <fieldset>
        <legend>
            Add Glossary Item
            <span class="btn-group display-inline pull-right">
                <input type="submit" class="btn-success btn" value="Add" />
            </span>
        </legend>
        @Html.HiddenFor(item => item.Glossary.Id)
        <div class="form-group">
            @Html.LabelFor(x => x.Term)
            @Html.TextBoxFor(x => x.Term, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Term)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Definition)
            @Html.TextAreaFor(x => x.Definition, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Definition)
        </div>  
    </fieldset>
}

